@font-face {
    font-family: Draconis;
    src: url(fonts/Draconis.ttf);
}

@font-face {
    font-family: PirataOne;
    src: url(fonts/PirataOne-Regular.ttf);
}

@font-face {
    font-family: Squealer;
    src: url(fonts/Squealer.otf);
}

body {
    background-color: #282c34;
    font-family: Draconis;
}

.content {
    color: black;
    display: flex;

    padding: 10px 20px;

}

.column {
    flex: 1;
    display: flex;
    text-align: center;


    background-color: #fff;
    color: white;
    margin-right: 20px;
    
}
.column:last-child {
    margin-right: 0px;
}

.detail {
    bottom: 0;
}

.character-content {
    text-align: left;
    transform: translateY(50%);
}

.character-content .name {
    font-size: calc(10% + 2vmin);
}


.character-content .title {
    font-size: calc(15% + 1vmin);
    color: rgb(128, 128, 128);
    font-family: Draconis;
}

.character-stats {
    flex: 1;
    margin-right: 5px;
}

/*************** NEW STUFF ***************/

.row {
    height: auto;
    display: flex;
    margin-bottom: 10px;
}

.large-row {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}

.combat-row {
    height: 90px;
    display: flex;
    margin-bottom: 10px;

}

.item {
    flex: 1;
    margin-right: 5px;
    position: relative;
}

.item:last-child {
    flex: 1;
    margin-right: 0px;
}

.item-column {
    flex: 1;
    margin-right: 20px;
    position: relative;

}

.item-column:last-child {
    flex: 1;
    margin-right: 0px;
}

.item .value {
    font-family: Squealer;
    font-size: calc(10px + 2vmin);
    
    text-align: center;
}

.item .small-value {
    font-family: Squealer;
    font-size: calc(0px + 2vmin);
    
    text-align: center;
}

.item .center-vertical {
    position: absolute;
    top: 20%;
    width: 100%;
}

.item .description {
    color: rgb(128, 128, 128);
    font-family: Draconis;
    font-size: calc(0px + 2vmin);
    
    text-align: center;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    border-radius: 20px;
    background-color: #0958ce;
    cursor: pointer;
    font-size: calc(18px);
    font-family: Draconis;
    
    padding: 5px;
}

.border {
    border-radius: 5px;
}

/*************** OLD STUFF ***************/

.health-total {
    margin: 0% 10%;
    background-color: #fff;
    color: #ddd;
    border-radius: 10px;

    border: #0958ce solid;
    
}

.health-bar {
    background-color: #0958ce;
    width: 80%;
}

/*****************************************/


.photo-placeholder {
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
}


.skill-row {
    display: flex;
    margin: 0px 5px;
    font-size: calc(2px + 2vmin);
}

.skill-icon {
    flex: 1;
}

.skill-name {
    font-family: Draconis;
    flex: 10;
}

.skill-bonus {
    flex: 1;
}

.skill-category {
    color: rgb(128, 128, 128);
    font-family: Draconis;
    font-size: calc(0px + 2vmin);
    
    text-align: center;
}


/* WIP */

.wip {
    border: 1px solid black;
}

.help {
    background-color: red;
}