@font-face {
    font-family: Fondamento;
    src: url(fonts/Fondamento-Regular.ttf);
}

@font-face {
    font-family: Draconis;
    src: url(fonts/Draconis.ttf);
}

@font-face {
    font-family: PirataOne;
    src: url(fonts/PirataOne-Regular.ttf);
}

@font-face {
    font-family: Squealer;
    src: url(fonts/Squealer.otf);
}

body {
    background-color: #eee;
    font-family: Squealer;
}

.content {
    color: white;
    display: flex;

    padding: 20px;

}

.column {
    flex: 1;
    text-align: center;


    background-color: #fff;
    border-radius: 5px;

    color: white;
    margin-right: 20px;
    
}

.detail {
    bottom: 0;
}

/* GENERAL CHARACTER STATS */

.character-info-container {
    flex: 8;
    display: flex;


    background-color: #fff;
    color: white;
    border-radius: 5px;
    padding: 10px;

}

.character-stats {
    flex: 1;
    margin-right: 5px;
}

/*************** NEW STUFF ***************/

.row {
    height: auto;
    display: flex;
    margin-bottom: 10px;
}

.large-row {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}

.combat-row {
    height: 90px;
    display: flex;
    margin-bottom: 10px;

}

.item {
    flex: 1;
    margin-right: 5px;
    position: relative;

}

.item:last-child {
    flex: 1;
    margin-right: 0px;
}

.item-column {
    flex: 1;
    margin-right: 20px;
    position: relative;

}

.item-column:last-child {
    flex: 1;
    margin-right: 0px;
}

.item .value {
    font-weight: bold;
    text-align: center;

    font-size: 32px;
}

.item .small-value {
    font-weight: bold;
    text-align: center;

    font-size: 16px;
}

.item .center-vertical {
    position: absolute;
    top: 20%;
    width: 100%;
}

.item .description {
    font-weight: bold;
    font-size: 18px;
    color: rgb(128, 128, 128);
    text-align: center;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    border-radius: 20px;
    background-color: blue;
    cursor: pointer;
    
    padding: 5px;
    font-weight: bold;
}

.border {
    border-radius: 5px;
}

/*************** OLD STUFF ***************/


/*****************************************/


.photo-placeholder {
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
}

.character-skills {
    color: black;
    flex: 1;
    margin-left: 5px;
    border-radius: 5px;

}

.skill-row {
    display: flex;
    margin: 0px 5px;
}

.skill-icon {
    flex: 1;
}

.skill-icon-placeholder {
    margin-top: 3px;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
}

.skill-name {
    flex: 10;
}

.skill-bonus {
    flex: 1;
}

/* GENERAL CHARACTER ACTIONS */
.actions-container {
    flex: 12;

    margin-left: 20px;

    background-color: #fff;
    color: white;
    border-radius: 5px;

}

/* WIP */

.wip {
    border: 1px solid black;
}

.help {
    background-color: red;
}